<div class="grid">
    <div class="col-12 xl:col-8">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Reports</h5>
            </div>

            <div class="card flex justify-content-center">
            
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-4">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Sunscription Status</h5>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 m-0 list-none">
                <li></li>
            </ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
                <li></li>
            </ul>
        </div>
    </div>
</div>
