<div class="grid">


    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Pending Requests</h5>
            <p-table  [paginator]="true" [rows]="5" responsiveLayout="scroll" >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Session</th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Open <p-sortIcon field="price"></p-sortIcon></th>
                        <th>Close</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width: 20%; min-width: 5rem;">
                           Session1
                        </td>
                        <td style="width: 70%; min-width: 7rem;">Washed Sidama, Yirgachefe , Limu , Mixed Coffee (Washed Coffee)</td>
                        <td style="width: 5%; min-width: 8rem;">3:15</td>
                        <td style="width: 5%;">11:30</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>New Request</h5> 
            </div>
             <div>
                <div class="grid">
                    <div class="col-12 md:col-12">
                        <div class="card p-fluid">
                            <div class="field grid">
                                <label htmlFor="name3" class="col-12 mb-2 md:col-4 md:mb-0">Member/Client</label>
                                <div class="col-12 md:col-8">
                                    <input pInputText id="name3" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-4 md:mb-0">ID</label>
                                <div class="col-12 md:col-8">
                                    <input pInputText id="email3" type="text" />
                                </div>
                            </div>

                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-4 md:mb-0">Phone Number</label>
                                <div class="col-12 md:col-8">
                                    <input pInputText id="email3" type="text" />
                                </div>
                            </div>

                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-4 md:mb-0">Type</label>
                                <div class="col-12 md:col-8">
                                    
                                        <p-dropdown [options]="dropdownItems"optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
                                    
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                <div>
                    <button pButton pRipple label="Submit" icon="pi pi-check" class="p-button-text"></button>
                </div>
             </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
      

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Responses</h5>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
             <ul class="p-0 m-0 list-none"><li></li></ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
              <li></li>
            </ul>
        </div>

   
</div>


