<div class="grid">


    <div class="col-12 xl:col-8">
        <div class="card">
            <h5>Pending Requests</h5>
            <p-table #dt [value]="complains"  responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                      
                        <th >Topic</th>
                        <th >Description</th>
                        <th >Status</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      
                        <td style="width:4%; min-width: 15vh;"><span class="p-column-title">Topic</span>
                            {{order.topic}}
                        </td>
                        <td style="width:20%;min-width: 50vh;">
                            <span class="p-column-title">Description</span>
                            {{ order.description}}
                        </td>
                     
                      
                        <td *ngIf="order.isActive" style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span style="border-radius: 15px; background-color: #ff0e0e; padding: 7px;">Pending</span>
                        </td>
                        <td *ngIf="!order.isActive" style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span style="border-radius: 15px; background-color: #22bb33; padding: 7px;">Responded</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>New Request</h5> 
            </div>
             <div>
                <div class="grid">
                    <div class="col-12 md:col-12">
                        <div class="card p-fluid">
                            <div class="field grid">
                                <label htmlFor="name3" class="col-12 mb-2 md:col-4 md:mb-0">Name</label>
                                <div class="col-12 md:col-8">
                                    <input [(ngModel)]="complainModel.Name" pInputText id="name3" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-4 md:mb-0">Email</label>
                                <div class="col-12 md:col-8">
                                    <input [(ngModel)]="complainModel.Email"  pInputText id="email3" type="text" />
                                </div>
                            </div>

                            <div class="field grid">
                                <label htmlFor="email3" class="col-12 mb-2 md:col-4 md:mb-0">Phone Number</label>
                                <div class="col-12 md:col-8">
                                    <input [(ngModel)]="complainModel.PhoneNumber"  pInputText id="email3" type="text" />
                                </div>
                            </div>

                            <div class="field grid">
                                <label htmlFor="name3" class="col-12 mb-2 md:col-4 md:mb-0">Topic Of Feed Back</label>
                                <div class="col-12 md:col-8">
                                    <input [(ngModel)]="complainModel.Topic"  pInputText id="name3" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="name3" class="col-12 mb-2 md:col-4 md:mb-0">Description</label>
                                <div class="col-12 md:col-8">
                                    <textarea 
                                    [(ngModel)]="complainModel.Description" 
                                    rows="5"
                                    cols="30" 
                                    pInputTextarea 
                                    >
                                </textarea>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                <div>
                    <button pButton pRipple label="Submit" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
                </div>
             </div>
        </div>
    </div>

    <div class="col-12 xl:col-4">
      

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Responses</h5>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
             <ul class="p-0 m-0 list-none"><li></li></ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
              <li></li>
            </ul>
        </div>

   
</div>


