<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'ECXLogoL' : 'ECXLogoB'}}.png" alt="logo">
        <span>Public Portal</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

 

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
        <a href="http://10.3.5.95:17023/" class="p-link layout-topbar-button">
            <i class="pi pi-fw pi-globe"></i>
            <span>Goto Trade ?</span>
        </a>
        
        <button class="p-link layout-topbar-button">
            <i (click)="logout()" class="pi pi-user"></i>
            <span (click)="logout()">Logout</span>
        </button>
        
    </div>
</div>