/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.dailytradepdf{
    //display:none;
}
#contentToDownload{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
  
}
.table-with-bg {
    width:100%;
    height: 100%;
    background: 
    url('./assets/demo/images/login/ECXLogo.jpg') no-repeat center center / cover,  /* Your background image */
    rgba(255, 255, 255, 0.5); 
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;  /* Optional: adjust padding as needed */
    //opacity: 0.5;
}

.font-m{
    font-weight: bold;
}
.flex-h{
    display: flex;
    flex-direction: row;
   
}
.flex-v{
    display: flex;
    flex-direction: column;
    margin: 1vh; 
}
.margin-b{
    margin-bottom: 2vh;
}
.cartPackageList{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
  }
  
 
  .container {
    transition: filter 0.3s ease;
    /* Optional: smooth transition effect */
  }
  
  .blurred {
    filter: blur(4px);
    /* Optionally blur the content */
    pointer-events: none;
    /* Disable pointer events on blurred content */
  }